<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h4>Rezerve Edilenler</h4>
    </div>
    <div class="col-lg-8 col-md-10 ml-auto mr-auto">
      <h4><small></small></h4>
      <div class="table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Saat</th>
              <th>İsim</th>
              <th>Ücret</th>
              <th class="text-right">Ücret Ödendi</th>

            </tr>
          </thead>

          <tbody ngFor="let reservetedlists of reservetedlist">
            <tr>
              <td class="text-center">1</td>
              <td>{{reservetedlists.rezervatedHour}}</td>
              <td>{{reservetedlists.rezervatedName}}</td>
              <td>{{reservetedlists.rezervatedPrice}}</td>
              <td class="td-actions text-right">

                  <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title=""
                  title="">
                  
                  <img class="material-icons" src="../../../assets/img/baseline-clear-24px.svg" alt="my icon" />

                
                </button>
                <button [hidden]="true" type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm"
                  data-original-title="" title="">
                  <i class="material-icons">person</i>
                </button>
                <button [hidden]="true" type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm"
                  data-original-title="" title="">
                  <i class="material-icons">close</i>
                </button>
              </td>
              <td class="td-actions text-right">

              </td>
            </tr>
          </tbody>

  


        </table>
      </div>
    </div>
  </div>
</div>